<h1>Quacker</h1>

<%= render 'form' %>

<% Quack.all.reverse.each do |quack| %>
  <p>
    <strong><%= quack.author %></strong>
    <br>
    <%= quack.body %>
    <br>
    <%= link_to 'Details', quack_path(quack.id) %>
  </p>
<% end %>