<div class='container'>
  <strong><%= @quack.author %></strong>
  <br>
  <%= @quack.body %>

  <p><small><%= @quack.created_at.strftime("%b %e, %l:%M %p") %></small></p>

  <%= link_to 'Back', root_path %>
</div>